<!doctype html>
<html lang="eng">
  <head>
  <%- include('../partials/header') -%>

  </head>
<body>

<!-- Navigation -->
<%- include('../partials/nav',{active:"causes"},{user}); -%>

    <!-- header section-->
<header class="header_event">
  <div class="container-fluid">
    <div class="row">   
      <div class=" col-sm-12 col-md-12 col-lg-12 header-content">
        <h2>Our Events
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing ekajanfinfajfnkanfaknfqowknakfnakndlknzm,cnlakndanlaknlit. Esse, consectetur?</p>   
        </h2>
      </div>
    </div>
  </div>
</header>

  <!-- Colomn sections-->

<section class="main_section">  
<div class="container">  
    <div class=" row">    
        <div class="col-sm-12 col-md-12 col-lg-12  d-flex justify-content-center">
            <div class="page_image">
                <img class="img-fluid" src="img/Picture/pic3.jpg">
            </div>
        </div>   
    </div>
    <div class="row">
      <div class=" col-sm-12 col-md-12 col-lg-12  d-flex justify-content-center">   
        <div class="page_content text-center">
            <h2 class="">Distributing Books And other necessary things</h2>
            <hr>
            <p class="card-text">Save the Children helps children with the donation money and provides them access to quality education. 
                Visit the website to read about what we do for children's education.
                The effects of poverty on children are wide-reaching and can lead to lifelong struggles, 
                especially when young people don’t receive full educations.
            </p>

              <p>   Poverty and education are inextricably linked, because people living in poverty may stop going to school so they can work,
                which leaves them without literacy and numeracy skills they need to further their careers. Their children, in turn, 
                are in a similar situation years later, with little income and few options but to leave school and work.

                ChildFund aims to help families escape the cycle of poverty through various educational and livelihood programs.
                Many times, we learn by listening to communities about their specific needs and working to fulfill them.
                Children are the torchbearer of the future. Hence, every school celebrates this day with various events like quiz, debates, cultural programs like dance, 
                music, and drama. Teachers organize and perform various cultural events for the students.
              </p>   

            <p>   Chacha Nehru always believed that a child is future of tomorrow and hence through drama or play the teachers often on this day communicate to the Children the importance of having a fulfilled childhood to have a country with better tomorrow.

              Many schools also celebrate the day by organizing sports events. School teachers often invite children from nearby orphanage or slum to participate with the students of the school together. 
              Such gestures are very welcoming as the children learn to share and accommodate everyone from society with them. Such gestures also instill a sense of equality among students.

                Teachers and parents on this day also shower their love and affection towards the child by distributing gifts, chocolates, and toys. Schools also organize various talk shows, seminars where inspirational personalities from various fields like sports, education, cultural and entertainment sector come and deliver motivational speeches to the students.
            </p>
            <%- include('../partials/donation_modal') -%>
          </div>
        </div>
      </div>
</div>
  </section> 

    <!--Footer-->  
    <%- include('../partials/footer') -%>
    
    
       
        <!--  JavaScript -->
        <%- include('../partials/script') -%>
      </body>    
    
    </html>